@model IEnumerable<NetFlow.Services.Courses.Models.CourseServiceModel>

<h1 class="text-center p-3 mx-auto">courses</h1>
<div class="title-underline bg-dark"></div>

<section id="courses" class="p-5">
    <div class="row">
        @foreach (var course in Model)
        {
            <div class="col-sm-4 col-md-4 col-md-4">
                <div class="card text-center p-3" style="width:20rem;">
                    @if (!course.Picture.Equals(null))
                    {
                        <img class="card-img-top" src="@course.Picture" alt="@course.Name">
                    }
                    <div class="card-body">
                        <h5 class="card-title text-info">@course.Name</h5>
                        <p class="text-center">@course.StartDate.ToString("dd MMM yyyy") - @course.EndDate.ToString("dd MMM yyyy")</p>
                        <a asp-area="" asp-controller="Course" asp-action="Details" class="btn btn-primary">Details</a>
                    </div>
                </div>
                <br />
            </div>
            
        }
    </div>
</section>