@model IEnumerable<NetFlow.Services.Courses.Models.CourseServiceModel>
@using NetFlow.Web.UrlStrings


<h1 class="text-center p-3 mx-auto">open courses</h1>
<div class="title-underline bg-dark"></div>

<section id="courses">
    <div class="row pt-5">
        @foreach (var course in Model)
        {
            <div class="col-sm-4 col-md-4 col-md-4">
                <div class="card text-center pt-2">
                    @if (!course.Picture.Equals(null))
                    {
                        <img class="card-img-top" src="@course.Picture" alt="@course.Name">
                    }
                    <div class="card-body">
                        <h5 class="card-title text-info">@course.Name</h5>
                        <p class="text-center">@course.StartDate.ToString("dd MMM yyyy") - @course.EndDate.ToString("dd MMM yyyy")</p>
                        <a asp-area="Trainings"
                           asp-controller="Courses"
                           asp-action="Details"
                           asp-route-courseId="@course.Id"
                           asp-route-name="@course.Name.ToFriendlyUrl()"
                           class="btn btn-primary">Details</a>
                    </div>
                </div>
                <br />
            </div>
        }
    </div>
    <div class="text-center">
        <a asp-area="Trainings" asp-action="UpcomingCourses" asp-controller="Courses" class="btn btn-outline-warning text-dark">see all</a>
    </div>
</section>