@model UserProfileServiceModel

<div class="container bg-white p-3">
    <div class="text-center p-2">
        <h2>@Model.FirstName @Model.LastName</h2>
        <h3 class="text-lowercase">@@@Model.Username</h3>
        <h5 class="text-lowercase"><a href="mailto:@Model.Email" class="text-info">@Model.Email</a></h5>
        <p>Total Credits: @Model.Courses.Where(i => i.EndDate < DateTime.UtcNow && i.Grade >= Grade.B).Sum(i => i.Credit)</p>

        @if (Model.Picture != null)
        {
            <img src="@Model.Picture" alt="@Model.Username" class="profilepic" />
        }
        <br />
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Course</th>
                <th>Credits</th>
                <th>Grade</th>
                <th>Comment</th>
                <th class="col-cer">Certificate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr>
                    <td>
                        <i class="fas fa-graduation-cap"></i>
                        <a asp-area="Trainings"
                           asp-controller="Courses"
                           asp-action="Details"
                           asp-route-courseId="@course.Id"
                           asp-route-name="@course.CourseName.ToFriendlyUrl()">
                           @course.CourseName
                        </a><br />
                        @if (course.StartDate <= DateTime.UtcNow && course.EndDate >= DateTime.UtcNow)
                        {
                            <i class="fas fa-circle text-success"></i> <span class="text-success">The course is active</span>
                        }
                        else if (course.StartDate >= DateTime.UtcNow && DateTime.UtcNow <= course.EndDate)
                        {
                            <i class="fas fa-circle text-warning"></i> <span class="text-warning">The course is not started yet</span>
                        }
                        else if (course.StartDate < DateTime.UtcNow && course.EndDate < DateTime.UtcNow)
                        {
                            <i class="fas fa-circle text-danger"></i> <span class="text-danger">This Course Has Already Finished</span>
                        }
                    </td>
                    <td>
                        @course.Credit
                    </td>
                    <td>
                        @if (course.Grade.Equals(null))
                        {
                            <p>No Grade</p>
                        }
                        else
                        {
                            <p>@((double)course.Grade)</p>
                        }
                    </td>
                    <td>
                        @(course.Çomment == null ? "No comment" : course.Çomment.ToString())                       
                    </td>
                    <td>
                        @if (course.Grade == Grade.A || course.Grade == Grade.B)
                        //Student gets a certificate if grade is 5(B) or 6(A)
                        {
                            <a asp-area="Profile" asp-controller="Users" asp-action="DownloadCertificate" asp-route-id="@course.Id">Yes</a>
                        }
                        else if (course.Grade == Grade.C || course.Grade == Grade.D || course.Grade == Grade.F)
                        {
                            <p>
                                Your grade is less then @((int)Grade.B)<br />
                                In order to get a certificate you have to retake this exam with a higher grade
                            </p>
                        }
                        else
                        {
                            <p>There are no issued certificates.</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>