@model IEnumerable<SearchCourseServiceModel>

@foreach (var course in Model)
{
    <div class="col-md-4">
        <div class="card text-center">
            @if (!course.Picture.Equals(null))
            {
                <img class="card-img-top course-image" src="@course.Picture" alt="@course.Name">
            }
            <div class="card-body">
                <h5 class="card-title">@course.Name</h5>
                <p class="text-center">@course.StartDate.ToString("dd MMM yyyy") - @course.EndDate.ToString("dd MMM yyyy")</p>
                <a asp-area="Trainings"
                   asp-controller="Courses"
                   asp-action="Details"
                   asp-route-courseId="@course.Id"
                   asp-route-name="@course.Name.ToFriendlyUrl()"
                   class="btn btn-primary">Details</a>
            </div>
        </div>
        <br />
    </div>
}

