@model UserProfileViewModel

@{
    ViewData["Title"] = Model.Profile.Username;
}

<div class="text-center p-2">
    <h2>@Model.Profile.FirstName @Model.Profile.LastName</h2>
    <h3 class="text-lowercase">@@@Model.Profile.Username</h3>
    <h5 class="text-lowercase">@Model.Profile.Email</h5>
    @if (Model.Profile.Picture != null)
    {
        <img src="@Model.Profile.Picture" alt="@Model.Profile.Username" class="profilepic" />
    }
    <br />
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Course</th>
            <th>Credits</th>
            <th>Grade</th>
            <th>Comment</th>
            <th class="col-cer">Certificate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Profile.Courses)
        {
            <tr>
                <td>
                    <a asp-controller="Courses" asp-action="Details" asp-route-courseId="@course.Id" asp-route-name="@course.CourseName.ToFriendlyUrl()">@course.CourseName</a><br />
                    @if (course.StartDate <= DateTime.UtcNow || course.EndDate <= DateTime.UtcNow)
                    {
                        <i class="fas fa-circle text-success"></i> <span class="text-success">The course is active</span>
                    }
                    else
                    {
                        <i class="fas fa-circle text-danger"></i> <span class="text-danger">The course is inactive</span>
                    }
                </td>
                <td>
                    @course.Credit
                </td>
                <td>
                    @if (course.Grade.Equals(null))
                    {
                        <p>No Grade</p>
                    }
                    else
                    {
                        <p>@((int)course.Grade)</p>
                    }
                </td>
                <td>
                    @if (course.Çomment == null)
                    {
                        <p class="text-danger">No comment</p>
                    }
                    else
                    {
                        <p class="text-info">@course.Çomment</p>
                    }
                </td>
                <td>
                    @if (course.Grade == Grade.A || course.Grade == Grade.B)
                    //Student gets a certificate if grade is 5(B) or 6(A)
                    {
                        <a asp-controller="Users" asp-action="DownloadCertificate" asp-route-id="@course.Id">Yes</a>
                    }
                    else if (course.Grade == Grade.C || course.Grade == Grade.D || course.Grade == Grade.F)
                    {
                        <p>
                            Your grade is less then @((int)Grade.B)<br />
                            In order to get a certificate you have to take it with a higher grade
                        </p>
                    }
                    else
                    {
                        <p>There are no issued certificates.</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>