@model UserProfileViewModel
@using NetFlow.Web.Areas.Identity.Pages.Account.Manage

@{
    ViewData["Title"] = Model.Profile.Username;
}

<h2 class="text-center pt-3">@Model.Profile.FirstName @Model.Profile.LastName</h2>
<div class="title-underline bg-dark"></div>
<br />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Course</th>
            <th>Credits</th>
            <th>Grade</th>
            <th>Certificate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Profile.Courses)
        {
            <tr>
                <td>
                    <a asp-controller="Courses" asp-action="Details" asp-route-courseId="@course.Id" asp-route-name="@course.CourseName.ToFriendlyUrl()">@course.CourseName</a><br />
                    @if (course.StartDate <= DateTime.UtcNow || course.EndDate <= DateTime.UtcNow)
                    {
                        <i class="fas fa-circle text-success"></i> <span class="text-success">The course is active</span>
                    }
                    else
                    {
                        <i class="fas fa-circle text-danger"></i> <span class="text-danger">The course is inactive</span>
                    }
                </td>
                <td>
                    @course.Credit
                </td>
                <td>
                    @if (course.Grade.Equals(null))
                    {
                        <p>No Grade</p>
                    }
                    else
                    {
                        <p>@((int)course.Grade)</p>
                    }
                </td>
                <td>
                    @if (course.Grade == Grade.A || course.Grade == Grade.B)
                    //Student gets a certificate if grade is 5(B) or 6(A)
                    {
                        <a asp-controller="Users" asp-action="DownloadCertificate" asp-route-id="@course.Id">Yes</a>
                    }
                    else if (course.Grade == Grade.C || course.Grade == Grade.D || course.Grade == Grade.F)
                    {
                        <p>Your grade is less then @((int)Grade.B)<br />
                           In order to get a certificate you have to take it with a higher grade</p>
                    }
                    else
                    {
                        <p>There are no issued certificates.</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>