@model ShowUserProfileViewModel

@{
    ViewData["Title"] = "Profile";
}
<div class="container">
    <div class="col text-center">
        <h1 class="pt-3">@ViewData["Title"]</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="mx-auto">
                        @if (Model.Profile.Picture != null)
                        {
                            <img src="@Model.Profile.Picture" alt="@Model.Profile.Username" id="profilepic-show" />
                        }
                   </div>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"><h6>Id: </h6>@Model.UserId</li>
                        <li class="list-group-item"><h6>Name: </h6> @Model.Profile.FirstName @Model.Profile.LastName</li>
                        <li class="list-group-item"><h6>Username: </h6>@Model.Profile.Username</li>
                        <li class="list-group-item"><h6>Date of Birth: </h6>@Model.Profile.BirthDate.ToString("dd/MM/yyyy")</li>
                        <li class="list-group-item"><h6>Email: </h6>@Model.Profile.Email</li>
                        <li class="list-group-item"><h6>Phone: </h6>@Model.Profile.PhoneNumber</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-center">
                <a class="btn btn-outline-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Edit"><i class="fas fa-2x fa-pencil-alt"></i></a>
            </div>
        </div>
    </div>
</div>