@model NetFlow.Web.Areas.Administration.Models.ChangeUserRoleViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = Model.User.FirstName + " " + Model.User.LastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center font-weight-bold p-3 mx-auto">Change Role for @ViewData["Title"] account</h2>
<div class="title-underline bg-primary"></div>
<br />

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th>Change Role</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.User.Username</td>
            <td>@Model.User.Email</td>
            <td>@Model.User.FirstName @Model.User.LastName</td>
            <td>
                <form asp-controller="Users" asp-action="AddToRole" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" name="UserId" value="@Model.User.Id" />
                            <div class="form-group">
                                <select style="padding:0em!important;" class="custom-select" name="Role" asp-items="Model.Roles"></select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Add to Role" class="btn btn-sm btn-primary" />
                        </div>
                    </div>
                </form>
               
            </td>
        </tr>
    </tbody>
</table>
<div>
    <br />
    <a asp-area="Administration" asp-controller="Users" asp-action="Index" class="btn btn-default">Back</a>
</div>







