@model NetFlow.Web.ViewModels.Post.PostDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <h1 class="text-center pt-3">@ViewData["Title"]</h1>
    <hr />
    <div class="offset-md-2 col-md-8 offset-md-2">
        <img class="img-fluid card-img-top" src="@Model.Picture" alt="@Model.Title">
    </div>
    <p class="bg-danger">
        @Html.Raw(Model.Content as string)
    </p>
    <div class="pull-right">
        <i class="fas fa-pencil-alt"></i> created by @Model.FirstName @Model.LastName |
        <i class="fas fa-calendar-alt"></i> @Model.CreatedDate.ToString("MMMM dd, yyyy HH:mm")
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group post-list">
                @foreach (var comment in Model.Comments)
                {
                    <li class="list-group-item">
                        <p>@comment.Content</p><small>comment by <b class="text-capitalize">@comment.User</b></small>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form method="post" class="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Description">Leave a comment...</label>
                    <textarea asp-for="Description" rows="2" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://cdn.tiny.cloud/1/dhwodpwzvitaey35lyytoxfh85xi4anvexzudx5yo3j665p2/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({ selector: '#Content' });</script>
}
