@model PostDetailsViewModel

@{
    ViewData["Title"] = Model.Title.TitleToUpper();
}

<div class="container">
    <h1 class="text-center pt-3">@ViewData["Title"]</h1>
    <hr />
    <br />
    @if (this.TempData.ContainsKey(BlogMessagesConstants.TEMPDATA_ERROR_MESSAGE))
    {
        <div class="offset-md-3 col-md-6 offset-md-3 alert alert-dismissible alert-danger text-center">
            <p>@this.TempData[BlogMessagesConstants.TEMPDATA_ERROR_MESSAGE]</p>
        </div>
    }
    @if (this.TempData.ContainsKey(BlogMessagesConstants.TEMPDATA_SUCCESS_MESSAGE))
    {
        <div class="offset-md-3 col-md-6 offset-md-3 alert alert-dismissible alert-success text-center">
            <p>@this.TempData[BlogMessagesConstants.TEMPDATA_SUCCESS_MESSAGE]</p>
        </div>
    }
    <div class="offset-md-2 col-md-8 offset-md-2">
        <img class="img-fluid card-img-top" src="@Model.Picture" alt="@Model.Title">
    </div>
    <p class="bg-danger">
        @Html.Raw(Model.Content as string)
    </p>
    <div class="pull-right">
        <i class="fas fa-pencil-alt"></i> published by @Model.FirstName @Model.LastName |
        <i class="fas fa-calendar-alt"></i> @Model.CreatedDate.ToString("MMMM dd, yyyy HH:mm") 
        @if (DateTime.UtcNow.Date != Model.CreatedDate.Date)
        {
            <span>| <i class="far fa-calendar-minus"></i> @((DateTime.UtcNow.Date - Model.CreatedDate.Date).TotalDays) days ago</span>
        }  
        | <i class="far fa-comments"></i> @Model.Comments.Count()     
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group post-list">
                @foreach (var comment in Model.Comments)
                {
                    <li class="list-group-item card">
                        <p>@comment.Content</p>comment by <small class="text-capitalize">@comment.User</small>
                        <span>on @comment.CreatedOn.ToString("dd-MMM-yyy HH:mm")</span>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form method="post" class="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Description">Leave a comment...</label>
                    <textarea asp-for="Description" rows="2" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://cdn.tiny.cloud/1/dhwodpwzvitaey35lyytoxfh85xi4anvexzudx5yo3j665p2/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({ selector: '#Content' });</script>
}
