@model NetFlow.Web.ViewModels.Post.PostViewModel
@using NetFlow.Web.UrlStrings

@{
    ViewData["Title"] = "Blog Posts";
}
<h2 class="text-center pt-3">@ViewData["Title"]</h2>
<div class="title-underline bg-dark"></div>

<div class="container">
    <div class="row pt-3">
        <div class="col-md-8">
            <ul class="list-group post-list">
                @foreach (var post in Model.Posts)
                {
                    <li class="list-group-item">
                        <h4 class="text-info">@post.Title</h4>
                        <hr />
                        <div>
                            @Html.Raw(post.Description)
                        </div>
                        <i class="fas fa-pencil-alt"></i> created by @post.PublisherFirstName @post.PublisherLastName | <i class="fas fa-calendar-alt"></i> @post.CreatedDate.ToString("MMMM dd, yyyy")
                        <hr />
                        <a asp-action="Details" asp-route-id="@post.Id" asp-route-title="@post.Title.ToFriendlyUrl()"
                           class="btn btn-primary">
                            Read more
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://cdn.tiny.cloud/1/dhwodpwzvitaey35lyytoxfh85xi4anvexzudx5yo3j665p2/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({ selector: '#Description' });</script>
}