@model ActiveCoursesViewModel
@{
    ViewData["Title"] = "Active Courses";
}

<h2 class="text-center pt-3 mx-auto">@ViewData["Title"]</h2>
<div class="title-underline bg-dark"></div>

<div class="container">
    <div class="row pt-5">
        @foreach (var course in Model.Courses)
        {
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a asp-action="Details"
                                   asp-route-courseId="@course.Id"
                                   asp-route-name="@course.Name.ToFriendlyUrl()">
                                    <h3 class="card-title text-info">
                                        @course.Name
                                    </h3>
                                </a>
                                <h6>Start date: @course.StartDate.ToString("dd MMM yyyy")</h6>
                                <h6>End date: @course.EndDate.ToString("dd MMM yyyy") </h6>

                                <p class="card-text">Created By: @course.Teacher.FirstName @course.Teacher.LastName</p>
                            </div>
                            <div class="col-md-6">
                                <img src="@course.Picture" alt="@course.Name" class="img-fluid card-img-top" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
                <br />
            </div>
        }
    </div>
</div>
<div class="text-center p-3">
    @Html.PagedListPager((IPagedList)@Model.Courses.AsEnumerable(), page => Url.Action("ActiveCourses", new { page = page }),
        new PagedListRenderOptions
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
            UlElementClasses = new string[] { "pagination", "justify-content-center" },
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
        })
</div>
