@model CourseDetailsViewModel

@{
    ViewData["Title"] = Model.Course.Name;
    TimeSpan span = (Model.Course.StartDate - DateTime.UtcNow);

}
<div class="container">
    <h2 class="text-center pt-3">@ViewData["Title"]</h2>
    <div class="title-underline bg-dark"></div>
    <br />
    @if (this.TempData.ContainsKey(CourseMessagesConstants.TEMPDATA_ERROR_MESSAGE))
    {
        <div class="offset-md-3 col-md-6 offset-md-3 alert alert-dismissible alert-danger text-center">
            <strong>@this.TempData[CourseMessagesConstants.TEMPDATA_ERROR_MESSAGE]</strong>
        </div>
    }
    @if (this.TempData.ContainsKey(CourseMessagesConstants.TEMPDATA_SUCCESS_MESSAGE))
    {
        <div class="offset-md-3 col-md-6 offset-md-3 alert alert-dismissible alert-success text-center">
            <strong>@this.TempData[CourseMessagesConstants.TEMPDATA_SUCCESS_MESSAGE]</strong>
        </div>
    }

    <div class="offset-md-3 col-md-6 offset-md-3 text-center pb-3">
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.Course.StartDate > DateTime.UtcNow)
            {
                if (Model.StudentIsEnrolledInCourse)
                {                    
                    <form asp-action="SignOut" asp-route-courseId="@Model.Course.Id" method="post">
                        <input type="submit" class="btn btn-danger" value="Sign Out" />
                    </form>
                }
                else
                {
                    <p class="underline-info">@String.Format("{0} days, {1} hours, {2} minutes, {3} seconds",
                      span.Days, span.Hours, span.Minutes, span.Seconds)<br /> remainig to sign up for this course</p>
                    <form asp-action="Participate" asp-route-courseId="@Model.Course.Id" method="post">
                        <input type="submit" class="btn btn-primary" value="participate" />
                    </form>
                }
            }
            else
            {
                if (Model.Course.EndDate < DateTime.UtcNow)
                {
                    <h4 class="underline-info">This course has already finished</h4>
                }
                else
                {
                    <h4 class="underline-info">The registration period has expired</h4>
                }
            }
        }
        else
        {
            <p>Please <a href="/Identity/Account/Login" class="text-info">login</a> into your account to sign up for this course.</p>
        }
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="@Model.Course.Picture" class="img-fluid" />
        </div>

        <div class="col-md-6 pt-3">
            <div>
                <ul class="list-unstyled">
                    <li><h4>Description:</h4> <p class="text-info">@Model.Course.Description</p></li>
                    <li><h4>Start Date:</h4><p class="text-info">@Model.Course.StartDate.ToString("dd MMMM yyyy")</p></li>
                    <li><h4>End Date:</h4><p class="text-info">@Model.Course.EndDate.ToString("dd MMMM yyyy")</p></li>
                    <li><h4>Credits:</h4><p class="text-info">@Model.Course.Credit</p></li>
                    <li><h4>Teacher:</h4><p class="text-info">@Model.Course.Teacher.FirstName @Model.Course.Teacher.LastName</p></li>
                    <li><h4>total weeks:</h4><p class="text-info">@((Model.Course.EndDate - Model.Course.StartDate).TotalDays / 7)</p></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="offset-md-3 col-md-6 offset-md-3">
        @if (User.Identity.IsAuthenticated && Model.StudentIsEnrolledInCourse)
        {
            if (Model.Course.EndDate.Date == DateTime.UtcNow.Date.AddDays(1))
            {
                <form class="form" asp-action="SubmitAssignment" asp-route-courseId="@Model.Course.Id" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All"></div>
                    <br />
                    <h4>Upload your assignment</h4>
                    <br />
                    <input type="file" name="assignment" />
                    <input type="submit" class="btn btn-outline-danger" value="Upload" />
                </form>
                <br />
            }
        }
    </div>
</div>