@model CourseDetailsViewModel

@{
    ViewData["Title"] = Model.Course.Name.TitleToUpper();
    TimeSpan counter = (Model.Course.StartDate - DateTime.UtcNow);

}
<div class="container">
    <div class="col text-center">
        <h1 class="pt-3">@ViewData["Title"]</h1>
        <div class="title-underline"></div>
    </div>
    <br />
    @if (this.TempData.ContainsKey(CourseMessagesConstants.TEMPDATA_ERROR_MESSAGE))
    {
        <div class="offset-md-3 col-md-6 offset-md-3 alert alert-dismissible alert-danger text-center">
            <p>@this.TempData[CourseMessagesConstants.TEMPDATA_ERROR_MESSAGE]</p>
        </div>
    }
    @if (this.TempData.ContainsKey(CourseMessagesConstants.TEMPDATA_SUCCESS_MESSAGE))
    {
        <div class="offset-md-3 col-md-6 offset-md-3 alert alert-dismissible alert-success text-center">
            <i class="far fa-check-circle text-success fa-3x"></i>
            <p>@this.TempData[CourseMessagesConstants.TEMPDATA_SUCCESS_MESSAGE]</p>
        </div>
    }

<div class="offset-md-3 col-md-6 offset-md-3 text-center pb-3">
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.Course.StartDate > DateTime.UtcNow)
        {
            if (Model.StudentIsEnrolledInCourse)
            {
                <form asp-action="SignOut" asp-route-courseId="@Model.Course.Id" method="post">
                    <input type="submit" class="btn btn-danger" value="Sign Out" />
                </form>
            }
            else
            {
                <p class="underline-info">
                    @String.Format("{0} days, {1} hours, {2} minutes", counter.Days, counter.Hours, counter.Minutes)
                </p>
                <img class="img-fluid" src="https://res.cloudinary.com/netflow/image/upload/v1566746950/NetFlow/Images/animated-clock-image.gif" />

                <form asp-action="Enroll" asp-route-courseId="@Model.Course.Id" method="post">
                    <input type="submit" class="btn btn-outline-warning" value="enroll" />
                </form>
            }
        }
        else
        {
            if (Model.Course.EndDate < DateTime.UtcNow)
            {
                <h4 class="underline-info">This course has already finished</h4>
            }
            else
            {
                <h4 class="underline-info">The registration period has expired</h4>
            }
        }
    }
    else
    {
        if (Model.Course.StartDate > DateTime.UtcNow)
        {
            <p class="underline-info">
                @String.Format("{0} days, {1} hours, {2} minutes", counter.Days, counter.Hours, counter.Minutes)
            </p>
            <img class="img-fluid" src="https://res.cloudinary.com/netflow/image/upload/v1566746950/NetFlow/Images/animated-clock-image.gif" />

            <p>Please <a href="/Identity/Account/Login" class="text-info">login</a> into your account to sign up for this course.</p>

        }
        else
        {
            <h4 class="underline-info">The registration period has expired</h4>

        }

    }
</div>
    <div class="card">
        <div class="p-3 text-dark bg-grey text-muted">
            <div class="col text-center pb-3">
                <h3>About the course</h3>
                <div class="title-underline"></div>
            </div>
            <p>@Html.Raw(Model.Course.Description)</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="@Model.Course.Picture" class="img-fluid" />
                </div>

                <div class="col-md-6 pt-3">
                    <div>
                        <ul class="list-unstyled">
                            <li><h4>Start Date:</h4><p class="text-info">@Model.Course.StartDate.ToString("dd MMMM yyyy")</p></li>
                            <li><h4>End Date:</h4><p class="text-info">@Model.Course.EndDate.ToString("dd MMMM yyyy")</p></li>
                            <li><h4>Credits:</h4><p class="text-info">@Model.Course.Credit</p></li>
                            <li><h4>Teacher:</h4><p class="text-info">@Model.Course.Teacher.FirstName @Model.Course.Teacher.LastName</p></li>
                            <li><h4>total weeks:</h4><p class="text-info">@((Model.Course.EndDate - Model.Course.StartDate).TotalDays / 7)</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offset-md-3 col-md-6 offset-md-3">
        @if (User.Identity.IsAuthenticated && Model.StudentIsEnrolledInCourse)
        {
            if (DateTime.UtcNow.Date.AddDays(1) == Model.Course.EndDate.Date)
            {
                <form class="form" asp-action="SubmitAssignment" asp-route-courseId="@Model.Course.Id" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All"></div>
                    <br />
                    <h4>Upload your assignment</h4>
                    <br />
                    <input type="file" name="assignment" />
                    <input type="submit" class="btn btn-outline-danger" value="Upload" />
                </form>
                <br />
            }
        }
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://cdn.tiny.cloud/1/dhwodpwzvitaey35lyytoxfh85xi4anvexzudx5yo3j665p2/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({ selector: '#Description' });</script>
}
