@model NetFlow.Web.ViewModels.Courses.CourseDetailsViewModel
@{
    ViewData["Title"] = Model.Name;
}
<div class="container">
    <h2 class="text-center p-3 mx-auto">@ViewData["Title"]</h2>
    <div class="title-underline bg-dark"></div>

    <div class="row">
        <div class="col-md-6">
            <img src="@Model.Picture" class="img-fluid" />
        </div>

        <div class="col-md-6 pt-5">
            <div>
                <ul class="list-unstyled">
                    <li><h4>Description:</h4> <p class="text-info">@Model.Description</p></li>
                    <li><h4>Start Date:</h4><p class="text-info">@Model.StartDate.ToString("dd MMMM yyyy")</p></li>
                    <li><h4>End Date:</h4><p class="text-info">@Model.EndDate.ToString("dd MMMM yyyy")</p></li>
                    <li><h4>Credit:</h4><p class="text-info">@Model.Credit</p></li>
                    <li><h4>Teacher:</h4><p class="text-info">@Model.Teacher.FirstName @Model.Teacher.LastName</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>