@model NetFlow.Web.ViewModels.Courses.CoursesIndexViewModel
@using NetFlow.Web.UrlStrings
@using NetFlow.Common.GlobalConstants

@{
    ViewData["Title"] = "All Courses";
}

<h2 class="text-center pt-3">@ViewData["Title"]</h2>
<div class="title-underline bg-dark"></div>

<div class="container">
    <div class="row pt-5">
        @foreach (var course in Model.Courses)
        {
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a asp-action="Details"
                                   asp-route-courseId="@course.Id"
                                   asp-route-name="@course.Name.ToFriendlyUrl()">
                                    <h3 class="card-title text-info">
                                        @course.Name
                                    </h3>
                                </a>
                                <h6>Start date: @course.StartDate.ToString("dd MMM yyyy")</h6>
                                <h6>End date: @course.EndDate.ToString("dd MMM yyyy") </h6>

                                <p class="card-text">Created By: @course.Teacher.FirstName @course.Teacher.LastName</p>
                            </div>
                            <div class="col-md-6">
                                <img src="@course.Picture" alt="@course.Name" class="img-fluid card-img-top" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-8">
                                @if (course.StartDate < DateTime.UtcNow)
                                {
                                    <h5 class="text-danger">Inactive</h5>
                                }
                                else
                                {
                                    <h5 class="text-info">Active</h5>
                                }
                            </div>
                            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole(RoleConstants.ADMIN_ROLE))
                            {
                                <div class="col-md-4">
                                    <a asp-action="Edit" asp-area="Administration"
                                       asp-route-id="@course.Id"
                                       asp-route-name="@course.Name.ToFriendlyUrl()">
                                        <h6 class="btn btn-sm btn-outline-danger">
                                            Edit
                                        </h6>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <br />
            </div>
        }
    </div>
</div>